{% extends 'base.html' %}

{% block content %}
  <title>Edit</title>
</br>
<div class="container">
  {% if task_obj.users == request.user %}
      <form method="post">
          {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" name="task"  placeholder="{{ task_obj.task }}" value="{{task_obj.task}}">
          <input type="hidden"  name="done" value="{{task_obj.done}}">
        </div>
        <button type="submit" class="btn btn-primary">Edit Task</button>
      </form>
  {% else %}
  <p>Access Restricted! You Are Not Allowed!</p>
  {% endif %}
</div>
{% endblock %}